@import "_variables.scss";
@import "common.scss";

.cart-container {
  background-color: $grey-color-3;

  &--head {
    @extend .flex-column;
    background-color: $background-color-primary;
    padding: 20px;

    &_text {
      font-size: 18px;
    }
  }

  .cart-checkout-section,
  .cart-banner {
    background-color: $background-color-primary;
    margin-top: 20px;
    padding: 20px;
  }

  .cart-checkout-section {
    margin-top: 20px;
    padding: 20px;
    > p {
      margin-bottom: 10px;
      text-align: center;
    }
    > a {
      display: flex;
      .checkout-heading {
        flex: 1;
      }
      .total-price {
        flex: 0 0 5%;
      }
    }
  }
}
