

@import "layout";
@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
 


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // color: $text-color-primary;
}

a {
  color: $text-color-primary;
  text-decoration: none;
}

html,
body {
  margin: 0 auto;
  font-family: "Dosis";
  font-weight: $app-font-weight;
  box-sizing: border-box;
}


main {
  margin-top: $main-margin-top;
  @include app-header-padding-changes;
}


.u-center {
  text-align: center;
  
}

@import 'variables';
@import 'header';
@import 'animation';
@import 'cart-modal';
@import 'button';
@import 'footer';


