
    <main class="form-container">
      <div class="heading">
        <h1 class="heading__primary">
          Login
        </h1>
        <h3 class="heading__sub">
          Get access to your Orders, Wishlist and Recommendations
        </h3>
      </div>
      <form class="form" action="/" method="POST">
        <div class="form__input-container">
          <input
            type="email"
            class="register-form__input"
            required
            name="Email"
          />
          <label for="name">Email</label>
          <div class="bar"></div>
        </div>

        <div class="form__input-container">
          <input
            type="password"
            class="register-form__input"
            required
            name="Password"
          />
          <label for="name">Password</label>
          <div class="bar"></div>
        </div>

        <button class= "btn form__submit" type="submit" name="signUp">Login</button>
      </form>
    </main>
