<header>
      <nav class="nav-section" role="navigation">
        <a href="/"><img class="nav-section__logo" src="/static/images/logo.png" alt="Sabka Bazaar Logo" />
        </a>
        <ul class="nav-section__bar">
          <li class="nav-section__bar--link"><a href="/">Home</a></li>
          <li class="nav-section__bar--link"><a href="/products">Products</a></li>
        </ul>
        <div class="nav-section__end">
          <div class="nav-section__end-register-box">
            <a class="nav-section__end-register-box--link" href="/SignIn"
              >SignIn</a
            >
            <a class="nav-section__end-register-box--link" href="/SignUp"
              >Register</a
            >
            
          </div>
          <div class="nav-section__end-cart">
            <a href="/cart" id="mini-cart-section"><img src="/static/images/cart.svg" class="nav-section__end-cart--logo"></a>
            <div class="nav-section__end-cart--count"> {{cart.count}} items </div>
            <div class="nav-section__end-cart--count-mobile"> {{cart.count}}</div>
          </div>
        </div>
        <div class="menu-toggle">
          <input type="checkbox" />
          <i></i>
          <i></i>
          <i></i>
          {{!-- <span></span>
          <span></span>
          <span></span> --}}
          <ul class="menu">
            <a href="/"><li class="menu--link">Home</li></a>
            <a href="/products"><li class="menu--link">Products</li></a>
            <a href="/SignIn"><li class="menu--link">Sign In</li></a>
            <a href="/SignUp"><li class="menu--link">Register</li></a>
          </ul>
        </div>
      </nav>
    </header>