<header>
      <nav class="nav" role="navigation">
        <a href="/"><img class="nav__logo" src="/img/logo.png" alt="Sabka Bazaar Logo" />
        </a>
        <ul class="nav__bar">
          <li class="nav__bar--link"><a href="/">Home</a></li>
          <li class="nav__bar--link"><a href="/products">Products</a></li>
        </ul>
        <div class="nav__end">
          <div class="nav__end-register-box">
            <a class="nav__end-register-box--link" href="/SignUp"
              >Register</a
            >
            <a class="nav__end-register-box--link" href="/SignIn"
              >SignIn</a
            >
          </div>
          <div class="nav__end-cart">
            <a href="/cart" id="myBtn"><img src="/img/cart.svg" class="nav__end-cart--logo"></a>
            <div class="nav__end-cart--count"> {{cart.count}} items </div>
          </div>
        </div>
        <div class="menu-toggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul class="menu">
            <a href="/"><li class="menu--link">Home</li></a>
            <a href="/products"><li class="menu--link">Products</li></a>
            <a href="/SignIn"><li class="menu--link">Sign In</li></a>
            <a href="/SignUp"><li class="menu--link">Register</li></a>
          </ul>
        </div>
      </nav>
    </header>